{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="bg-primary text-white p-3 rounded">분석 카테고리</h1>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>카테고리</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu_items %}
            <tr>
                <td>
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}